<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no"/>
    <meta content="yes" name="apple-mobile-web-app-capable" />
    <meta content="telephone=no" name="format-detection" />
    <meta name="renderer" content="webkit">
    <title>成人睡眠质量评测</title>
    <meta name="keywords" content=""/>
    <meta name="description" content=""/>
    <link rel="stylesheet" href="weui/lib/weui.min.css" />
    <link rel="stylesheet" href="weui/css/jquery-weui.min.css" />
    <link rel="stylesheet" href="css/reset.css" />
    <link rel="stylesheet" href="css/style.css" />
    <script src="weui/lib/jquery-2.1.4.js"></script>
    <!--[if lt IE 9 ]>
    <script src="js/html5.js"></script>
    <![endif]-->
</head>
<body>
<section class="wrap min100 bgf">

    <section class="main">
        <div class="fs14 plr15 tit-pt fd"><span class="text-blue"><span class="choose-tit">选择题</span></span></div>
        <p class="fs16 plr15 pt5 pb10 col3">1.您睡觉时有无打鼾胜</p>
        <input type="text" class="form-unify time-inline" style="background: #F0F0F0;padding: 5px 10px ;">
        <div class="width100 pl15 bb clearfix">
            <label for="buy1" class="test-label test-block" >
                <input type="radio" class="weui-check" name="check-way" id="buy1">
                <div class="check-main single-line pb15 fs13 col6 m-list-flex">无</div>
            </label>
            <label for="buy2" class="test-label test-block" >
                <input type="radio" class="weui-check" name="check-way" id="buy2">
                <div class="check-main single-line pb15 fs13 col6 m-list-flex"><1次/周</div>
            </label>
            <label for="buy3" class="test-label test-block" >
                <input type="radio" class="weui-check" name="check-way" id="buy3">
                <div class="check-main single-line pb15 fs13 col6 m-list-flex">1-2次/周</div>
            </label>
            <label for="buy4" class="test-label test-block" >
                <input type="radio" class="weui-check" name="check-way" id="buy4">
                <div class="check-main single-line pb15 fs13 col6 m-list-flex">>2次/周</div>
            </label>
        </div>
        <p class="fs16 plr15 pt5 pb10 col3">2.您睡觉时有无打鼾胜</p>
        <div class="width100 pl15 bb clearfix">
            <label for="buy1" class="test-label test-block" >
                <input type="radio" class="weui-check" name="check-way" id="buy1">
                <div class="check-main single-line pb15 fs13 col6 m-list-flex">无</div>
            </label>
            <label for="buy2" class="test-label test-block" >
                <input type="radio" class="weui-check" name="check-way" id="buy2">
                <div class="check-main single-line pb15 fs13 col6 m-list-flex"><1次/周</div>
            </label>
            <label for="buy3" class="test-label test-block" >
                <input type="radio" class="weui-check" name="check-way" id="buy3">
                <div class="check-main single-line pb15 fs13 col6 m-list-flex">1-2次/周</div>
            </label>
            <label for="buy4" class="test-label test-block" >
                <input type="radio" class="weui-check" name="check-way" id="buy4">
                <div class="check-main single-line pb15 fs13 col6 m-list-flex">>2次/周</div>
            </label>
        </div>
        <p class="fs16 plr15 pt5 pb10 col3">3.您睡觉时有无打鼾胜</p>
        <div class="width100 pl15 bb clearfix">
            <label for="buy1" class="test-label test-block" >
                <input type="radio" class="weui-check" name="check-way" id="buy1">
                <div class="check-main single-line pb15 fs13 col6 m-list-flex">无</div>
            </label>
            <label for="buy2" class="test-label test-block" >
                <input type="radio" class="weui-check" name="check-way" id="buy2">
                <div class="check-main single-line pb15 fs13 col6 m-list-flex"><1次/周</div>
            </label>
            <label for="buy3" class="test-label test-block" >
                <input type="radio" class="weui-check" name="check-way" id="buy3">
                <div class="check-main single-line pb15 fs13 col6 m-list-flex">1-2次/周</div>
            </label>
            <label for="buy4" class="test-label test-block" >
                <input type="radio" class="weui-check" name="check-way" id="buy4">
                <div class="check-main single-line pb15 fs13 col6 m-list-flex">>2次/周</div>
            </label>
        </div>
        <p class="fs16 plr15 pt5 pb10 col3">4.您睡觉时有无打鼾胜</p>
        <div class="width100 pl15 bb clearfix">
            <label for="buy1" class="test-label test-block" >
                <input type="radio" class="weui-check" name="check-way" id="buy1">
                <div class="check-main single-line pb15 fs13 col6 m-list-flex">无</div>
            </label>
            <label for="buy2" class="test-label test-block" >
                <input type="radio" class="weui-check" name="check-way" id="buy2">
                <div class="check-main single-line pb15 fs13 col6 m-list-flex"><1次/周</div>
            </label>
            <label for="buy3" class="test-label test-block" >
                <input type="radio" class="weui-check" name="check-way" id="buy3">
                <div class="check-main single-line pb15 fs13 col6 m-list-flex">1-2次/周</div>
            </label>
            <label for="buy4" class="test-label test-block" >
                <input type="radio" class="weui-check" name="check-way" id="buy4">
                <div class="check-main single-line pb15 fs13 col6 m-list-flex">>2次/周</div>
            </label>
        </div>
        <p class="fs16 plr15 pt5 pb10 col3">5.您睡觉时有无打鼾胜</p>
        <div class="width100 pl15 bb clearfix">
            <label for="buy1" class="test-label test-block" >
                <input type="radio" class="weui-check" name="check-way" id="buy1">
                <div class="check-main single-line pb15 fs13 col6 m-list-flex">无</div>
            </label>
            <label for="buy2" class="test-label test-block" >
                <input type="radio" class="weui-check" name="check-way" id="buy2">
                <div class="check-main single-line pb15 fs13 col6 m-list-flex"><1次/周</div>
            </label>
            <label for="buy3" class="test-label test-block" >
                <input type="radio" class="weui-check" name="check-way" id="buy3">
                <div class="check-main single-line pb15 fs13 col6 m-list-flex">1-2次/周</div>
            </label>
            <label for="buy4" class="test-label test-block" >
                <input type="radio" class="weui-check" name="check-way" id="buy4">
                <div class="check-main single-line pb15 fs13 col6 m-list-flex">>2次/周</div>
            </label>
        </div>
        <div class="plr15 pt10 pr btn-footer tc" style="padding-top: 50px">
            <!--发布成功提示-->
            <span class="succ-window1">评测成功，睡银+30</span>
            <button class="btn-blue">提交</button>
        </div>
    </section>
    <!-- main end -->

</section>
<!-- wrap end -->




<!-- jquery-weui插件 -->
<script src="weui/js/jquery-weui.min.js"></script>
<!-- 通用js -->
<script src="js/functions.js"></script>

</body>
<script>
    $('.btn-blue').click(function () {
        $('.succ-window1').show();
    });
    $(".time-inline").datetimePicker({
        title: '时间',
        min: "1990-12-12",
        max: "2050-12-12 12:12",
        onChange: function (picker, values, displayValues) {
            console.log(values);
        }
    })

</script>
</html>