<!doctype html>
<html>

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no" />
        <meta content="yes" name="apple-mobile-web-app-capable" />
        <meta content="telephone=no" name="format-detection" />
        <meta name="renderer" content="webkit">
        <title>提现记录</title>
        <meta name="keywords" content="" />
        <meta name="description" content="" />
        <link rel="stylesheet" href="weui/lib/weui.min.css" />
        <link rel="stylesheet" href="weui/css/jquery-weui.min.css" />
        <link rel="stylesheet" href="css/reset.css" />
        <link rel="stylesheet" href="css/style.css" />
        <script src="weui/lib/jquery-2.1.4.js"></script>
        <!--[if lt IE 9 ]>
    <script src="js/html5.js"></script>
    <![endif]-->
        <style>
            .order-nav .active span:after {
                content: '';
                width: 22px;
                height: 3px;
            }
           .order-main .order-item:last-child{
               border-bottom: none;
           }
        </style>
    </head>

    <body class="appbody">
        <section class="wrap min100 bgf0">
            <div class="head_fixed bgf">
                <div class="table fs13 tc bgf ptb15  col3 order-nav bgf">
                    <a href="javascript:;" class="table-cell active"><span>待支付</span></a>
                    <a href="javascript:;" class="table-cell"><span>待发货</span></a>
                    <a href="javascript:;" class="table-cell"><span>待收货</span></a>
                    <a href="javascript:;" class="table-cell"><span>已完成</span></a>
                    <a href="javascript:;" class="table-cell"><span>退换货</span></a>
                </div>
                
            </div>
            <!-- 头部悬浮 end -->
            <section class="main" style="padding-top: 49px">
                
                <div class="order-all">
                    <div class="order-main">
                        <div class="order-item">
                            <a href="javascript:;">
                                <div class="m-list-flex m-arrow-right">
                                    <p class="order-num m-cell-bd">#201804031605360001</p>
                                    <div class="m-cell-rt"></div>
                                </div>
                                <p class="order-status pb10">等待买家支付</p>
                            </a>
                            
                            
                            <div class="eval-shop-bg">
                                <div class="m-list-flex">
                                    <div class="eval-shop-img pic-view">
                                        <img src="images/eval-shop1.png" alt="">
                                    </div>
                                    <div class="m-cell-bd pl10">
                                        <p class="multi-line eval-shop-tit">慢波睡眠精品枕头 助睡眠</p>
                                        <div class="m-list-flex">
                                            <p class="m-cell-bd eval-shop-num">x1</p>
                                            <p class="eval-shop-price">¥600</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="eval-shop-bg">
                                <div class="m-list-flex">
                                    <div class="eval-shop-img pic-view">
                                        <img src="images/eval-shop1.png" alt="">
                                    </div>
                                    <div class="m-cell-bd pl10">
                                        <p class="multi-line eval-shop-tit">慢波睡眠精品枕头 助睡眠</p>
                                        <div class="m-list-flex">
                                            <p class="m-cell-bd eval-shop-num">x1</p>
                                            <p class="eval-shop-price">¥600</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="m-list-flex">
                                <p class="m-cell-bd shop-pay">2件商品，合计￥<span>1200.00</span></p>
                                <button class="cancel-btn">取消订单</button>
                                <button class="sure-btn">立即支付</button>
                            </div>
                            
                        </div>
                        <div class="order-item">
                            <a href="javascript:;">
                                <div class="m-list-flex m-arrow-right">
                                    <p class="order-num m-cell-bd">#201804031605360001</p>
                                    <div class="m-cell-rt"></div>
                                </div>
                                <p class="order-status pb10">等待买家支付</p>
                            </a>
                            
                            
                            <div class="eval-shop-bg">
                                <div class="m-list-flex">
                                    <div class="eval-shop-img pic-view">
                                        <img src="images/eval-shop1.png" alt="">
                                    </div>
                                    <div class="m-cell-bd pl10">
                                        <p class="multi-line eval-shop-tit">慢波睡眠精品枕头 助睡眠</p>
                                        <div class="m-list-flex">
                                            <p class="m-cell-bd eval-shop-num">x1</p>
                                            <p class="eval-shop-price">¥600</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="m-list-flex">
                                <p class="m-cell-bd shop-pay">2件商品，合计￥<span>1200.00</span></p>
                                <button class="cancel-btn">取消订单</button>
                                <button class="sure-btn">立即支付</button>
                            </div>
                            
                        </div>
                    </div>
                    <div class="order-main" style="display: none">
                        <div class="order-item">
                            <a href="javascript:;">
                                <div class="m-list-flex m-arrow-right">
                                    <p class="order-num m-cell-bd">#201804031605360001</p>
                                    <div class="m-cell-rt"></div>
                                </div>
                                <p class="order-status pb10">等待卖家发货</p>
                            </a>
                            
                            
                            <div class="eval-shop-bg">
                                <div class="m-list-flex">
                                    <div class="eval-shop-img pic-view">
                                        <img src="images/eval-shop1.png" alt="">
                                    </div>
                                    <div class="m-cell-bd pl10">
                                        <p class="multi-line eval-shop-tit">慢波睡眠精品枕头 助睡眠</p>
                                        <div class="m-list-flex">
                                            <p class="m-cell-bd eval-shop-num">x1</p>
                                            <p class="eval-shop-price">¥600</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="m-list-flex">
                                <p class="m-cell-bd shop-pay">2件商品，合计￥<span>1200.00</span></p>
                                <button class="cancel-btn">查看物流</button>
                            </div>
                            
                        </div>
                    </div>



                    <div class="order-main" style="display: none">
                        <div class="order-item">
                            <a href="javascript:;">
                                <div class="m-list-flex m-arrow-right">
                                    <p class="order-num m-cell-bd">#201804031605360001</p>
                                    <div class="m-cell-rt"></div>
                                </div>
                                <p class="order-status pb10">等待买家收货</p>
                            </a>
                            
                            
                            <div class="eval-shop-bg">
                                <div class="m-list-flex">
                                    <div class="eval-shop-img pic-view">
                                        <img src="images/eval-shop1.png" alt="">
                                    </div>
                                    <div class="m-cell-bd pl10">
                                        <p class="multi-line eval-shop-tit">慢波睡眠精品枕头 助睡眠</p>
                                        <div class="m-list-flex">
                                            <p class="m-cell-bd eval-shop-num">x1</p>
                                            <p class="eval-shop-price">¥600</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="m-list-flex">
                                <p class="m-cell-bd shop-pay">2件商品，合计￥<span>1200.00</span></p>
                                <button class="cancel-btn">查看物流</button>
                                <button class="sure-btn">确认收货</button>
                            </div>
                            
                        </div>
                    </div>



                    <div class="order-main" style="display: none">
                        <div class="order-item">
                            <a href="javascript:;">
                                <div class="m-list-flex m-arrow-right">
                                    <p class="order-num m-cell-bd">#201804031605360001</p>
                                    <div class="m-cell-rt"></div>
                                </div>
                                <p class="order-status pb10">交易完成</p>
                            </a>
                            
                            
                            <div class="eval-shop-bg">
                                <div class="m-list-flex">
                                    <div class="eval-shop-img pic-view">
                                        <img src="images/eval-shop1.png" alt="">
                                    </div>
                                    <div class="m-cell-bd pl10">
                                        <p class="multi-line eval-shop-tit">慢波睡眠精品枕头 助睡眠</p>
                                        <div class="m-list-flex">
                                            <p class="m-cell-bd eval-shop-num">x1</p>
                                            <p class="eval-shop-price">¥600</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="m-list-flex">
                                <p class="m-cell-bd shop-pay">2件商品，合计￥<span>1200.00</span></p>
                                <button class="cancel-btn">再次购买</button>
                            </div>
                            
                        </div>
                    </div>



                    <div class="order-main" style="display: none">
                        <div class="order-item">
                            <div class="eval-shop-bg">
                                <div class="m-list-flex">
                                    <div class="eval-shop-img pic-view">
                                        <img src="images/eval-shop1.png" alt="">
                                    </div>
                                    <div class="m-cell-bd pl10">
                                        <p class="multi-line eval-shop-tit">慢波睡眠精品枕头 助睡眠</p>
                                        <div class="m-list-flex">
                                            <p class="m-cell-bd eval-shop-num">x1</p>
                                            <p class="eval-shop-price">¥600</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="m-list-flex">
                                <p class="m-cell-bd success-return">退款成功</span></p>
                                <button class="cancel-btn">查看详情</button>
                            </div>
                            
                        </div>
                    </div>
                </div>
                
            </section>
            <!-- main end -->

        </section>
        <!-- wrap end -->

        <!-- jquery-weui插件 -->
        <script src="weui/js/jquery-weui.min.js"></script>
        <!-- 通用js -->
        <script src="js/functions.js"></script>

    </body>
<script>
    $(".order-nav a").click(function(){
        $(".order-nav a").removeClass("active")
        $(this).addClass("active")
        $(".order-all .order-main").css({"display":"none"})
        $(".order-all .order-main").eq($(this).index()).css({"display":"block"})
    })
    
</script>
</html>