<!doctype html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no" />
		<meta content="yes" name="apple-mobile-web-app-capable" />
		<meta content="telephone=no" name="format-detection" />
		<meta name="renderer" content="webkit">
		<title>联系我们</title>
		<meta name="keywords" content="" />
		<meta name="description" content="" />
		<link rel="stylesheet" href="weui/lib/weui.min.css" />
		<link rel="stylesheet" href="weui/css/jquery-weui.min.css" />
		<link rel="stylesheet" href="css/reset.css" />
		<link rel="stylesheet" href="css/style.css" />
		<script src="weui/lib/jquery-2.1.4.js"></script>
		<!--[if lt IE 9 ]>
	<script src="js/html5.js"></script>
	<![endif]-->
	</head>
	<style>
       *{box-sizing: border-box;}
	</style>
	<body class="appbody">
		<section class="wrap min100 bgf">
			<section class="main">
				
				<div class="">
					<p class="contact-tit">联<span>/</span>系<span>/</span>电<span>/</span>话</p>
					<div class="m-list-flex tel-item">
						<p class="m-cell-bd tel-name">客服小李：021-88888127</p>
						<a href="javascript:;" class="tel-img">
							<img src="images/tel-img.png" alt="">
						</a>
					</div>
					<div class="m-list-flex tel-item">
						<p class="m-cell-bd tel-name">客服小李：021-88888127</p>
						<a href="javascript:;" class="tel-img">
							<img src="images/tel-img.png" alt="">
						</a>
					</div>
					<p class="contact-tit">二<span>/</span>维<span>/</span>码</p>

					<img src="images/ewm-img.png" alt="" class="ewm-img">
					
				</div>
			</section>
			<!-- main end -->

		</section>
		<!-- wrap end -->

		<!-- jquery-weui插件 -->
		<script src="weui/js/jquery-weui.min.js"></script>
		<!-- 通用js -->
		<script src="js/functions.js"></script>

	</body>
<script>

</script>
</html>