<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no"/>
    <meta content="yes" name="apple-mobile-web-app-capable" />
    <meta content="telephone=no" name="format-detection" />
    <meta name="renderer" content="webkit">
    <title>index</title>
    <meta name="keywords" content=""/>
    <meta name="description" content=""/>
    <link rel="stylesheet" href="weui/lib/weui.min.css" />
    <link rel="stylesheet" href="weui/css/jquery-weui.min.css" />
    <link rel="stylesheet" href="css/reset.css" />
    <link rel="stylesheet" href="css/style.css" />
    <script src="weui/lib/jquery-2.1.4.js"></script>
    <!--[if lt IE 9 ]>
    <script src="js/html5.js"></script>
    <![endif]-->
</head>
<body>
<section class="wrap min100">

    <div class="foot_fixed table fs-15 tc col6 bgf detail-footer">
        <a href="" class="table-cell">
            <i></i>收藏
        </a>
        <a href="" class="table-cell">
          <i></i>点赞
        </a>
        <a href="" class="table-cell">
        <i></i>评论
        </a>
        <a href="" class="table-cell">
         <i></i>分享
        </a>
    </div>
    <!-- 底部悬浮 end -->
    <div class="zz" style="display: none"></div>
    <img src="images/big-share.png" alt="" class="big-share" style="display: none">
    <!--分享弹窗-->
    <section class="main" style="padding-bottom: 43px">
     <p class="tc  fs16 pt20 bgf">睡眠的七个好习惯</p>
      <p class="tc fs11 pt5 bgf"><span class="col9">2018-10-11</span><span class="pl20 col9f">慢波睡眠</span></p>
        <div class="plr15 bgf pt15 pb20 mb10">
         <div class="pic-view index-banner ">
             <img src="images/index-banner.png" alt="" class="imgm">
         </div>
            <div class="col6 fs13">
                <p class=" pt20">工作、家庭、经济压力、人际关系、身体状况等，都会影响睡眠。也许你没办法预期生活会发生什么事，
                    但至少你可以试着创造一个对睡眠有利的环境，减少外界的干扰，以下这十个小习惯，能帮助你更好的安眠。</p>
                <p class="pt20">一、每天准时入睡、起床。</p>
                <p class="pt20">研究发现，作息规律的人比较少有睡眠问题。如果不能准时入睡，至少要固定时间起床。</p>
                <p class="pt20">二、睡前半小时到1小时，安静下来，做自己喜欢的事。</p>
                <p class="pt20">每个人最好有个能让自己放松的“百宝袋”，搜集会让自己舒服的方法、感受，例如某种音乐、某个场景</p>
            </div>
        </div>
        <!--全部讨论-->
        <div class="bgf fs14 pl15"><p class="bd fd ptb10">全部讨论</p></div>
        <div class="bgf pl15 fs14 all-tell">
             <div class="m-list-flex pt15 pr15 bd">
             <div class="pic-view head as df">
                 <img src="images/head.png" alt="" class="imgm">
             </div>
                 <div class="m-cell-bd pl15 pt15" >
                  <p class="m-list-flex flex-bet fs12"><span class="col9f fd">路人甲</span><i class="col9">1天前</i></p>
                     <p class="col6 fs-15 pt15">说的有点道理</p>
                     <p class="single-line pb15 m-list-flex col6 flex-right pt5"><i class="pr20"><img src="images/eyes.png" alt="" class="detail-eyes"> 100</i>
                         <i class="pr20 good-btn "><img src="images/good.png" alt="" class="detail-good">
                             <img src="images/good-red.png" alt="" class="good-red" style="display: none"> 16</i>
                         <i><img src="images/infro.png" alt="" class="detail-infro"> 9</i>
                     </p>
                     <div class="pb15 ">
                         <p class="blue-p cob single-line fs13 tell-pd" style="margin-bottom: 1px;"><img src="images/good-blue.png" alt="" class="gooo-blue mr10">鲁路修、路人甲</p>
                         <p class="blue-p cob single-line fs13 reply-pd">鲁路修<span class="col0">：真的吗</span></p>
                         <p class="blue-p cob single-line fs13 reply-name">鲁路修<i class="col0">回复</i>鲁路修<span class="col0">：是的</span></p>
                     </div>
                 </div>
             </div>
            <div class="m-list-flex pt15 pr15 bd">
                <div class="pic-view head as df">
                    <img src="images/head.png" alt="" class="imgm">
                </div>
                <div class="m-cell-bd pl15 pt15" >
                    <p class="m-list-flex flex-bet fs12"><span class="col9f fd">路人甲</span><i class="col9">1天前</i></p>
                    <p class="col6 fs-15 pt15">说的有点道理</p>
                    <p class="single-line pb10 m-list-flex col6 flex-right pt5"><i class="pr20"><img src="images/eyes.png" alt="" class="detail-eyes"> 100</i>
                        <i class="pr20 good-btn ee"><img src="images/good.png" alt="" class="detail-good">
                            <img src="images/good-red.png" alt="" class="good-red" style="display: none"> 16</i>
                        <i><img src="images/infro.png" alt="" class="detail-infro"> 9</i>
                    </p>
                </div>
            </div>
        </div>
    </section>
    <!-- main end -->

</section>
<!-- wrap end -->




<!-- jquery-weui插件 -->
<script src="weui/js/jquery-weui.min.js"></script>
<!-- 通用js -->
<script src="js/functions.js"></script>

</body>
<script>
    $('.good-btn').click(function () {
        if($(this).hasClass('no-good')){
            $(this).find('.detail-good').show();
            $(this).find('.good-red').hide();
            $(this).removeClass('no-good')
        }else{
            $(this).find('.detail-good').hide();
            $(this).find('.good-red').show();
            $(this).addClass('no-good')
        }
    });
//    $('.ee').click(function () {
//        $('.good-red').prev().show();
//        $('.good-red').hide();
//    })

//    $('.like').click(function () {
//        $(this).next().show();
//        $(this).hide();
//    });
//    $('.like-ye').click(function () {
//        $(this).prev().show();
//        $(this).hide();
//    });
</script>
</html>