<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no"/>
    <meta content="yes" name="apple-mobile-web-app-capable" />
    <meta content="telephone=no" name="format-detection" />
    <meta name="renderer" content="webkit">
    <title>index</title>
    <meta name="keywords" content=""/>
    <meta name="description" content=""/>
    <link rel="stylesheet" href="weui/lib/weui.min.css" />
    <link rel="stylesheet" href="weui/css/jquery-weui.min.css" />
    <link rel="stylesheet" href="css/reset.css" />
    <link rel="stylesheet" href="css/style.css" />
    <script src="weui/lib/jquery-2.1.4.js"></script>
    <!--[if lt IE 9 ]>
    <script src="js/html5.js"></script>
    <![endif]-->
    <style>
        .coin-nav .top-nav a {
            font-size: 15px;
            position: relative;
            color: #333;
            text-align: center;
            padding-bottom: 3px;
        }
        .coin-nav .top-nav {
            text-align: center;
        }
    </style>
</head>
<body>
<section class="wrap min100 bgf">

    <section class="main">
        <div class="fix " style="left: 0;right: 0">
            <div class="plr15 fs fs18 pt20">专题区 <i class="col9 pl5 fs13">/ 亚健康区</i></div>
            <div class="bgf bd pb10">
                <div class="coin-nav mine-nav pt15 pb10">

                    <div class="swiper-container banner3 ">
                        <div class="swiper-wrapper fs14 pb5">
                            <div class="swiper-slide active top-nav"><a href="javascript:;">资讯</a></div>
                            <div class="swiper-slide top-nav"><a href="javascript:;">知识</a></div>
                            <div class="swiper-slide top-nav"><a href="javascript:;">研究</a></div>
                            <div class="swiper-slide top-nav"><a href="javascript:;">书籍</a></div>
                            <div class="swiper-slide top-nav"><a href="javascript:;">更多</a></div>
                            <div class="swiper-slide top-nav"><a href="javascript:;">研究</a></div>
                            <div class="swiper-slide top-nav"><a href="javascript:;">更多</a></div>
                            <div class="swiper-slide top-nav"><a href="javascript:;">研究</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
       <!--头-->
       <ul class="list" style="padding-top: 108px">
        <li class=" m-list-flex bd ">
          <div class="pic-view list-img">
              <img src="images/list-img.png" alt="" class="pic-view br3">
          </div>
            <div class="m-cell-bd pl15 as">
              <p class="fs14 col3 single-line">咖啡真的会让人失眠吗</p>
                <p class="fs12 col9 single-line pb13" style="padding-top: 2px;">咖啡所含咖啡因是生物碱的一种,是一种缓慢...</p>
                <p class="single-line m-list-flex col6"><i class="pr20"><img src="images/eyes.png" alt="" class="eyes"> 100</i>
                    <i class="pr20"><img src="images/list-star.png" alt="" class="list-star"> 99</i>
                    <i class="pr20"><img src="images/good.png" alt="" class="good"> 16</i>
                    <i><img src="images/infro.png" alt="" class="infro"> 9</i>
                </p>
            </div>
        </li>
           <li class=" m-list-flex bd ">
               <div class="pic-view list-img">
                   <img src="images/list-img.png" alt="" class="pic-view br3">
               </div>
               <div class="m-cell-bd pl15 as">
                   <p class="fs14 col3 single-line">咖啡真的会让人失眠吗</p>
                   <p class="fs12 col9 single-line pb13" style="padding-top: 2px;">咖啡所含咖啡因是生物碱的一种,是一种缓慢...</p>
                   <p class="single-line m-list-flex col6"><i class="pr20"><img src="images/eyes.png" alt="" class="eyes"> 100</i>
                       <i class="pr20"><img src="images/list-star.png" alt="" class="list-star"> 99</i>
                       <i class="pr20"><img src="images/good.png" alt="" class="good"> 16</i>
                       <i><img src="images/infro.png" alt="" class="infro"> 9</i>
                   </p>
               </div>
           </li>
       </ul>
        <ul class="list" style="padding-top: 108px;display: none">
            <li class=" m-list-flex bd ">
                <div class="pic-view list-img">
                    <img src="images/list-img.png" alt="" class="pic-view br3">
                </div>
                <div class="m-cell-bd pl15 as">
                    <p class="fs14 col3 single-line">每天睡眠超8小时是错的 是不是谣言？</p>
                    <p class="fs12 col9 single-line pb13" style="padding-top: 2px;">咖啡所含咖啡因是生物碱的一种,是一种缓慢...</p>
                    <p class="single-line m-list-flex col6"><i class="pr20"><img src="images/eyes.png" alt="" class="eyes"> 100</i>
                        <i class="pr20"><img src="images/list-star.png" alt="" class="list-star"> 99</i>
                        <i class="pr20"><img src="images/good.png" alt="" class="good"> 16</i>
                        <i><img src="images/infro.png" alt="" class="infro"> 9</i>
                    </p>
                </div>
            </li>
            <li class=" m-list-flex bd ">
                <div class="pic-view list-img">
                    <img src="images/list-img.png" alt="" class="pic-view br3">
                </div>
                <div class="m-cell-bd pl15 as">
                    <p class="fs14 col3 single-line">咖啡真的会让人失眠吗</p>
                    <p class="fs12 col9 single-line pb13" style="padding-top: 2px;">咖啡所含咖啡因是生物碱的一种,是一种缓慢...</p>
                    <p class="single-line m-list-flex col6"><i class="pr20"><img src="images/eyes.png" alt="" class="eyes"> 100</i>
                        <i class="pr20"><img src="images/list-star.png" alt="" class="list-star"> 99</i>
                        <i class="pr20"><img src="images/good.png" alt="" class="good"> 16</i>
                        <i><img src="images/infro.png" alt="" class="infro"> 9</i>
                    </p>
                </div>
            </li>
        </ul>
        <ul class="list" style="padding-top: 108px;display: none">
            <li class=" m-list-flex bd ">
                <div class="pic-view list-img">
                    <img src="images/list-img.png" alt="" class="pic-view br3">
                </div>
                <div class="m-cell-bd pl15 as">
                    <p class="fs14 col3 single-line">咖啡真的会让人失眠吗</p>
                    <p class="fs12 col9 single-line pb13" style="padding-top: 2px;">咖啡所含咖啡因是生物碱的一种,是一种缓慢...</p>
                    <p class="single-line m-list-flex col6"><i class="pr20"><img src="images/eyes.png" alt="" class="eyes"> 100</i>
                        <i class="pr20"><img src="images/list-star.png" alt="" class="list-star"> 99</i>
                        <i class="pr20"><img src="images/good.png" alt="" class="good"> 16</i>
                        <i><img src="images/infro.png" alt="" class="infro"> 9</i>
                    </p>
                </div>
            </li>
        </ul>
    </section>
    <!-- main end -->

</section>
<!-- wrap end -->




<!-- jquery-weui插件 -->
<script src="weui/js/jquery-weui.min.js"></script>
<!-- 通用js -->
<script src="js/functions.js"></script>
<script src="weui/js/swiper.js"></script>

</body>
<script>
    $(".mine-nav .top-nav").click(function () {
        $(".mine-nav .top-nav").removeClass("active");
        $(this).addClass("active");
        $(".list").css("display","none");
        $(".list").eq($(this).index()).css("display","block");
    });
    var swiper = new Swiper('.banner3', {
        pagination: '.swiper-pagination2',
        slidesPerView:6
        //        spaceBetween: 1

    });
</script>
</html>