<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no"/>
    <meta content="yes" name="apple-mobile-web-app-capable" />
    <meta content="telephone=no" name="format-detection" />
    <meta name="renderer" content="webkit">
    <title>真睡宝囊</title>
    <meta name="keywords" content=""/>
    <meta name="description" content=""/>
    <link rel="stylesheet" href="weui/lib/weui.min.css" />
    <link rel="stylesheet" href="weui/css/jquery-weui.min.css" />
    <link rel="stylesheet" href="css/reset.css" />
    <link rel="stylesheet" href="css/style.css" />
    <script src="weui/lib/jquery-2.1.4.js"></script>
    <!--[if lt IE 9 ]>
    <script src="js/html5.js"></script>
    <![endif]-->
    <style>
        .swiper-pagination .swiper-pagination-bullet-active {
            width: 6px;
            opacity: 1;
        }
        .swiper-pagination-bullet {
            width: 6px;
            height:6px;
        }
        .swiper-pagination.swiper-pagination-bullets {
            bottom: 2px;
        }
         .weui-photo-browser-modal.weui-photo-browser-modal-visible{z-index: 999}
    </style>
</head>
<body>
<section class="wrap min100">

    <div class="foot_fixed  footer-nav fs12 ">
        <div class="table" style="padding-top: 7px">
            <a href="" class="table-cell tc">
                <i></i>
                <p>睡眠学院</p>
            </a>
            <a href="" class="table-cell tc active">
                <i></i>
                <p>睡力铺</p>
            </a>
            <a href="" class="table-cell tc">
                <i></i>
                <p>睡友圈</p>
            </a>
            <a href="" class="table-cell tc">
                <i></i>
                <p>慢波商城</p>
            </a>
            <a href="" class="table-cell tc">
                <i></i>
                <p>个人中心</p>
            </a>
        </div>
    </div>
    <!-- 底部悬浮 end -->

    <section class="main">
        <div class="swiper-container banner ">
            <div class="swiper-wrapper">
                <a  href="" class="swiper-slide"><img src="images/bed.png"  class="imgm"></a>
                <a  href="" class="swiper-slide"><img src="images/bed.png"  class="imgm"></a>
                <a  href="" class="swiper-slide"><img src="images/bed.png"  class="imgm"></a>
            </div>
            <div class="swiper-pagination "></div>
        </div>
       <div class="table fs-15 tc bgf ptb15 bed-nav bd col3" >
           <div class="table-cell active">
             <span>日记</span>
           </div>
           <div class="table-cell">
               <span>梦</span>
           </div>
           <div class="table-cell">
               <span>评测</span>
           </div>
           <div class="table-cell">
               <span>报告</span>
           </div>
       </div>
        <!--日记-记梦-->
        <div class="right-dream">
            <a href=""><img src="images/dream_05.png" alt="" class="dream-top"></a>
            <a href=""><img src="images/dream_08.png" alt="" class="dream-bottom"></a>
        </div>
        <ul class="bed-list bgf">
            <li class="m-list-flex bb plr15 ptb10">
                <div class="pic-view bed-head as">
                    <img src="images/head.png" alt="" class="imgm">
                </div>
                <div class="m-cell-bd pl15 ">
                    <p class="fs12 cob  pt15 clearfix"><i class="fd">路人甲</i> <span class="col9 fr">2天前</span></p>
                    <p class="fs13 col6 pt15 pb5 bed-height">今天出去玩 心情不错，在公园看到了美丽的景
                        色，不错的一天</p>
                </div>
            </li>
            <li class="m-list-flex bb plr15 ptb10">
                <div class="pic-view bed-head as">
                    <img src="images/head.png" alt="" class="imgm">
                </div>
                <div class="m-cell-bd pl15 ">
                    <p class="fs12 cob  pt15 clearfix"><i class="fd">路人甲</i> <span class="col9 fr">2天前</span></p>
                    <p class="fs13 col6 pt15 pb5 bed-height">今天出去玩 心情不错，在公园看到了美丽的景
                        色，不错的一天</p>
                </div>
            </li>
        </ul>
        <ul class="bed-list bgf" style="display: none">
            <li class="m-list-flex bb plr15 ptb10">
                <div class="pic-view bed-head as">
                    <img src="images/head.png" alt="" class="imgm">
                </div>
                <div class="m-cell-bd pl15 ">
                    <p class="fs12 cob  pt15 clearfix"><i class="fd">路人甲 <em class="pl15">删除</em></i> <span class="col9 fr">2天前</span></p>
                    <p class="fs14 pt5">梦风雨大作（自己可见）</p>
                    <p class="fs13 col6 pt5 pb5 bed-height">梦也有梦想的意思。古人相信,做梦总要有原因
                        的，王符就曾说“夫奇异之梦，多有收而少无为
                        者矣”认为做梦总有原因可寻</p>
                    <div class="dream-see clearfix">
                        <a href="javascript:;" class="three imgopen pr">
                            <img src="images/dream-img.png" alt="" class="dream-img">
                        </a>
                        <a href="javascript:;" class="three  imgopen pr">
                            <img src="images/dream-img.png" alt="" class="dream-img ">
                        </a>
                        <a href="javascript:;" class="three  imgopen pr">
                            <img src="images/dream-img.png" alt="" class="dream-img">
                        </a>
                        <a href="javascript:;" class="three  imgopen pr">
                            <img src="images/dream-img.png" alt="" class="dream-img">
                        </a>
                    </div>
                    <p class="single-line  m-list-flex col6 flex-bet pt5">
                        <span class="col9">北京市·朋友家</span>
                          <span>
                        <i class="pr20"><img src="images/eyes.png" alt="" class="detail-eyes"> 100</i>
                        <i class="pr20 good-btn"><img src="images/good.png" alt="" class="detail-good">
                            <img src="images/good-red.png" alt="" class="good-red" style="display: none"> 16</i>
                        <i><img src="images/infro.png" alt="" class="detail-infro"> 9</i>
                          </span>
                    </p>
                </div>
            </li>
            <li class="m-list-flex bb plr15 ptb10">
                <div class="pic-view bed-head as">
                    <img src="images/head.png" alt="" class="imgm">
                </div>
                <div class="m-cell-bd pl15 ">
                    <p class="fs12 cob  pt15 clearfix"><i class="fd">路人甲 <em class="pl15">删除</em></i> <span class="col9 fr">2天前</span></p>
                    <p class="fs14 pt5">梦风雨大作（自己可见）</p>
                    <p class="fs13 col6 pt5 pb5 bed-height">梦也有梦想的意思。古人相信,做梦总要有原因
                        的，王符就曾说“夫奇异之梦，多有收而少无为
                        者矣”认为做梦总有原因可寻</p>
                    <p class="single-line  m-list-flex col6 flex-bet pt5">
                        <span class="col9">北京市·朋友家</span>
                        <span>
                        <i class="pr20"><img src="images/eyes.png" alt="" class="detail-eyes"> 100</i>
                        <i class="pr20 good-btn"><img src="images/good.png" alt="" class="detail-good">
                            <img src="images/good-red.png" alt="" class="good-red" style="display: none"> 16</i>
                        <i><img src="images/infro.png" alt="" class="detail-infro"> 9</i>
                          </span>
                    </p>
                    <div class="pb15 pt10">
                        <p class="blue-p cob single-line fs13 tell-pd" style="margin-bottom: 1px;"><img src="images/good-blue.png" alt="" class="gooo-blue mr10">鲁路修、路人甲</p>
                        <p class="blue-p cob single-line fs13 reply-pd">鲁路修<span class="col0">：真的吗</span></p>
                        <p class="blue-p cob single-line fs13 reply-name">鲁路修<i class="col0">回复</i>鲁路修<span class="col0">：是的</span></p>
                        <p class="blue-p col57 single-line fs13 dream-pd" style="margin-top: 1px;">验证<i class="col3">: 蛮准的</i></p>

                    </div>
                </div>
            </li>
        </ul>
        <ul class="bed-list bgf" style="display: none">
         <li class="bb fs-15 col3">
             <a href="" class="m-list-flex flex-bet plr15 ptb14"> <span class="single-line">成人睡眠质量量表评测</span>
                 <img src="images/test-arrow.png" alt="" class="test-arrow"></a>
         </li>
            <li class="bb fs-15 col3">
                <a href="" class="m-list-flex flex-bet plr15 ptb14"> <span class="single-line">成人睡眠质量量表评测</span>
                    <img src="images/test-arrow.png" alt="" class="test-arrow"></a>
            </li>
        </ul>
        <ul class="bed-list bgf" style="display: none">
            <li class="bb fs-15 col3">
                <a href="" class="m-list-flex flex-bet plr15 ptb14">
                    <div class="m-cell-bd">
                     <p class="single-line">成人睡眠质量量表评测</p>
                        <p class="fs12 col9 pt5">评测时间：2018-10-11 <i class="pl25">评测成绩：90</i></p>
                    </div>

                    <img src="images/test-arrow.png" alt="" class="test-arrow"></a>
            </li>
            <li class="bb fs-15 col3">
                <a href="" class="m-list-flex flex-bet plr15 ptb14">
                    <div class="m-cell-bd">
                        <p class="single-line">成人睡眠质量量表评测</p>
                        <p class="fs12 col9 pt5">评测时间：2018-10-11 <i class="pl25">评测成绩：90</i></p>
                    </div>

                    <img src="images/test-arrow.png" alt="" class="test-arrow"></a>
            </li>
        </ul>
    </section>
    <!-- main end -->

</section>
<!-- wrap end -->




<!-- jquery-weui插件 -->
<script src="weui/js/jquery-weui.min.js"></script>
<!-- 通用js -->
<script src="js/functions.js"></script>

</body>
<script src="weui/js/swiper.js"></script>                       <!--已经引入swiper js了-->
<script>
    $(function(){
        var swiperWidth = $(".banner").width();
        swiperHeight = swiperWidth * (380/750);
        $(".banner").css("height",swiperHeight);
        $(".banner").swiper({
            pagination: '.swiper-pagination',
            loop: true,
            autoplay: 3000,
            autoplayDisableOnInteraction : false
        });
    });
    var swiper = new Swiper('.banner3', {
        pagination: '.swiper-pagination2',
        slidesPerView:2.05
//        spaceBetween: 1

    });

    $(".bed-nav>div").click(function () {
        $(".bed-nav>div").removeClass("active");
        $(this).addClass("active");
        $(".bed-list").css("display","none");
        $(".bed-list").eq($(this).index()).css("display","block");
    });
    $('.dream-img').css({'height':$('.dream-img').width()});

    var pb1 = $.photoBrowser({
        items: [
            "images/dream-img.png",
            "images/dream-img.png",
            "images/dream-img.png",
            "images/dream-img.png"
        ],

        onSlideChange: function(index) {
            console.log(this, index);
        },

        onOpen: function() {
            console.log("onOpen", this);
        },
        onClose: function() {
            console.log("onClose", this);
        }
    });
    $(".imgopen").on("click",function () {
        pb1.open();
    });
    $('.good-btn').click(function () {
        if($(this).hasClass('no-good')){
            $(this).find('.detail-good').show();
            $(this).find('.good-red').hide();
            $(this).removeClass('no-good')
        }else{
            $(this).find('.detail-good').hide();
            $(this).find('.good-red').show();
            $(this).addClass('no-good')
        }
    });
</script>
</html>