<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no"/>
    <meta content="yes" name="apple-mobile-web-app-capable" />
    <meta content="telephone=no" name="format-detection" />
    <meta name="renderer" content="webkit">
    <title>index</title>
    <meta name="keywords" content=""/>
    <meta name="description" content=""/>
    <link rel="stylesheet" href="weui/lib/weui.min.css" />
    <link rel="stylesheet" href="weui/css/jquery-weui.min.css" />
    <link rel="stylesheet" href="css/reset.css" />
    <link rel="stylesheet" href="css/style.css" />
    <script src="weui/lib/jquery-2.1.4.js"></script>
    <!--[if lt IE 9 ]>
    <script src="js/html5.js"></script>
    <![endif]-->
</head>
<body>
<section class="wrap min100 bgf">


    <section class="main">
      <p class="fs20 col3 tc pt20">成人睡眠质量评测</p>
       <p class="col3 tc fs13 pt10">检测时间：2018-10-11</p>
        <div class="plr15">
            <div class="result-bg">
             <p class="tc fs-24 pt15 col3">您的检测为<i class="col43">90</i>分</p>
                <div class=" tc pt15"><span class="text-blue1"><span class="choose-tit1">争取下次再创佳绩~</span></span></div>
                <p class="tc col43 fen-big">90分</p>
                <p class="fs13 col3 plr25 result-pt">您身体十分健康，换病概率小。您身体十分
                    健康，换病概率小。</p>
            </div>
        </div>
        <div class=" ptb20 pr btn-footer" style="position: absolute;bottom: 4%;left: 15px;right: 15px;">
            <button class="btn1">返回</button>
        </div>
    </section>
    <!-- main end -->

</section>
<!-- wrap end -->




<!-- jquery-weui插件 -->
<script src="weui/js/jquery-weui.min.js"></script>
<!-- 通用js -->
<script src="js/functions.js"></script>

</body>
</html>