<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no"/>
    <meta content="yes" name="apple-mobile-web-app-capable" />
    <meta content="telephone=no" name="format-detection" />
    <meta name="renderer" content="webkit">
    <title>养生床</title>
    <meta name="keywords" content=""/>
    <meta name="description" content=""/>
    <link rel="stylesheet" href="weui/lib/weui.min.css" />
    <link rel="stylesheet" href="weui/css/jquery-weui.min.css" />
    <link rel="stylesheet" href="css/reset.css" />
    <link rel="stylesheet" href="css/style.css" />
    <script src="weui/lib/jquery-2.1.4.js"></script>
    <!--[if lt IE 9 ]>
    <script src="js/html5.js"></script>
    <![endif]-->
</head>
<body>
<section class="wrap min100 bgf">
    <section class="main">
        <div class="table fs13 tc bgf ptb10 classify bd col3" style="position: fixed;top: 0;z-index: 11;">
            <div class="table-cell active">
                <span>养身床</span>
            </div>
            <div class="table-cell">
                <span>枕头</span>
            </div>
            <div class="table-cell">
                <span>其他</span>
            </div>
        </div>
        <div class="thing-list pb15  clearfix bgf plr15" style="padding-top: 56px">
            <a href="" >
                <div class="pic-view other-img">
                    <img src="images/sofa.png" alt="" class="imgm">
                </div>
                <p class="col3 single-line fs-15">慢波真蚕丝眼罩</p>
                <p class="fs16 single-line m-list-flex flex-bet"><em class="fs-15">¥：<i class="fs16">20.0</i></em><i class="col9 fs11 ">销量：234</i></p>
            </a>
            <a href="" >
                <div class="pic-view other-img">
                    <img src="images/sofa.png" alt="" class="imgm">
                </div>
                <p class="col3 single-line fs-15">慢波真蚕丝眼罩</p>
                <p class="fs16 single-line m-list-flex flex-bet"><em class="fs-15">¥：<i class="fs16">20.0</i></em><i class="col9 fs11 ">销量：234</i></p>
            </a>
            <a href="" >
                <div class="pic-view other-img">
                    <img src="images/sofa.png" alt="" class="imgm">
                </div>
                <p class="col3 single-line fs-15">慢波真蚕丝眼罩</p>
                <p class="fs16 single-line m-list-flex flex-bet"><em class="fs-15">¥：<i class="fs16">20.0</i></em><i class="col9 fs11 ">销量：234</i></p>
            </a>
            <a href="" >
                <div class="pic-view other-img">
                    <img src="images/sofa.png" alt="" class="imgm">
                </div>
                <p class="col3 single-line fs-15">慢波真蚕丝眼罩</p>
                <p class="fs16 single-line m-list-flex flex-bet"><em class="fs-15">¥：<i class="fs16">20.0</i></em><i class="col9 fs11 ">销量：234</i></p>
            </a>
            <a href="" >
                <div class="pic-view other-img">
                    <img src="images/sofa.png" alt="" class="imgm">
                </div>
                <p class="col3 single-line fs-15">慢波真蚕丝眼罩</p>
                <p class="fs16 single-line m-list-flex flex-bet"><em class="fs-15">¥：<i class="fs16">20.0</i></em><i class="col9 fs11 ">销量：234</i></p>
            </a>
            <a href="" >
                <div class="pic-view other-img">
                    <img src="images/sofa.png" alt="" class="imgm">
                </div>
                <p class="col3 single-line fs-15">慢波真蚕丝眼罩</p>
                <p class="fs16 single-line m-list-flex flex-bet"><em class="fs-15">¥：<i class="fs16">20.0</i></em><i class="col9 fs11 ">销量：234</i></p>
            </a>
        </div>

    </section>
    <!-- main end -->

</section>
<!-- wrap end -->




<!-- jquery-weui插件 -->
<script src="weui/js/jquery-weui.min.js"></script>
<!-- 通用js -->
<script src="js/functions.js"></script>

</body>
<script>

</script>
</html>