<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no"/>
    <meta content="yes" name="apple-mobile-web-app-capable" />
    <meta content="telephone=no" name="format-detection" />
    <meta name="renderer" content="webkit">
    <title>地址管理</title>
    <meta name="keywords" content=""/>
    <meta name="description" content=""/>
    <link rel="stylesheet" href="weui/lib/weui.min.css" />
    <link rel="stylesheet" href="weui/css/jquery-weui.min.css" />
    <link rel="stylesheet" href="css/reset.css" />
    <link rel="stylesheet" href="css/style.css" />
    <script src="weui/lib/jquery-2.1.4.js"></script>
    <script src="weui/js/jquery-weui.js"></script>

    <!--[if lt IE 9 ]>
    <script src="js/html5.js"></script>
    <![endif]-->
</head>
<body>
<section class="wrap  min100 bgf">
    <div class="foot_fixed" style="bottom: 1%;left: 15px;right: 15px;transform: none;width: auto">
        <div class=" ptb10 pr btn-footer" >
            <button class="btn2">+添加新地址</button>
        </div>
    </div>
    <section class="main " style="padding-bottom: 60px">
        <div class="location-all ml20 mr20">
            <div class="location-tit bore">
                <p class="pt20">ADDRESS</p>
                <p class="pt15 pb20">我的地址</p>
            </div>
            <div class="location-manage-main">
                <div class="location-manage-item ptb20 bore">
                    <div class="m-list-flex pb10 fs13">
                        <div class="location-name">
                            <p>用户a</p>
                        </div>
                        <div class="m-cell-bd location-tel">
                            <p>18512349876</p>
                        </div>
                        <div class="location-operation">
                            <a style="padding: 0">删除</a>
                            <a href="javascript:;">编辑</a>
                        </div>
                    </div>
                    <div class="locaton-city pb5">
                        <p><span>上海市</span><span>徐汇区</span></p>
                    </div>
                    <div class="location-detail m-list-flex flex-bet">
                        <p>石龙路569号2号楼201室</p>
                        <span class="default-span fs10">默认地址</span>
                    </div>
                </div>
                <div class="location-manage-item ptb20 bore">
                    <div class="m-list-flex pb10 fs13">
                        <div class="location-name">
                            <p>用户a</p>
                        </div>
                        <div class="m-cell-bd location-tel">
                            <p>18512349876</p>
                        </div>
                        <div class="location-operation">
                            <a style="padding: 0">删除</a>
                            <a href="javascript:;">编辑</a>
                        </div>
                    </div>
                    <div class="locaton-city pb5">
                        <p><span>上海市</span><span>徐汇区</span></p>
                    </div>
                    <div class="location-detail m-list-flex flex-bet">
                        <p>石龙路569号2号楼201室</p>
                        <span class="default-span fs10">默认地址</span>
                    </div>
                </div>



            </div>
        </div>


    </section>
    <!-- main end -->

</section>


<script src="weui/js/city-picker.js"></script>
<script>

</script>



<!-- jquery-weui插件 -->
<script src="weui/js/jquery-weui.min.js"></script>
<!-- 通用js -->
<script src="js/functions.js"></script>

</body>
</html>