<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no"/>
    <meta content="yes" name="apple-mobile-web-app-capable" />
    <meta content="telephone=no" name="format-detection" />
    <meta name="renderer" content="webkit">
    <title>订单详情</title>
    <meta name="keywords" content=""/>
    <meta name="description" content=""/>
    <link rel="stylesheet" href="weui/lib/weui.min.css" />
    <link rel="stylesheet" href="weui/css/jquery-weui.min.css" />
    <link rel="stylesheet" href="css/reset.css" />
    <link rel="stylesheet" href="css/style.css" />
    <script src="weui/lib/jquery-2.1.4.js"></script>
    <!--[if lt IE 9 ]>
    <script src="js/html5.js"></script>
    <![endif]-->
</head>
<body>
<section class="wrap min100 bgf">

    <div class="foot_fixed">

    </div>
    <!-- 底部悬浮 end -->
    <section class="main ">
        <div class="orderdetail">
            <div class="num fs15 col6 m-list-flex flex-bet">#201804031605360001 <img src="images/test-arrow.png" alt="" class="test-arrow" style="width: 7px"></div>
            <div class="num fs12 red" style="padding-bottom: 10px">等待买家收货</div>
            <div class="goodspicbox m-list-flex">
                <div class="pic-view order-img mr15">
                    <img src="images/swiper-img2.png" class="imgm goodspic" />
                </div>
                <div class="detail m-cell-bd">
                    <div class="title1 fs13 multi-line">慢波睡眠精品枕头 助睡眠</div>
                    <div class="fs12 col6">x1</div>
                </div>
                <div class="pricebutton tc m-list-flex">
                    <div class=" fs14">¥189</div>
                </div>
            </div>
            <div class="m-list-flex pt10" style="justify-content: flex-end">
                <a href="" class="refund tc col3 br50 fs11 mr10">申请退货</a>
                <a class="see fs11 br50">查看物流</a>
            </div>
            <div class="m-list-flex part1" style="padding-top: 8px;"><span class="fs14 m-cell-bd col5" style="font-weight: 600; ">配送信息</span><span class="find fs13 col3">
                </span></div>
            <div class="fs12 col3 part2"><span> 张先生 </span><span> 18512349876</span></div>
            <div class="fs12 col3 part3">上海市徐汇区石龙路569号2号楼201室</div>
            <div class="info fs14 col5">订单详情</div>
            <div class="m-list-flex infos fs12 col3"><span>下单时间</span><span class="m-cell-bd tr">2018年3月27日 16:59:36</span></div>
            <div class="m-list-flex infos fs12 col3"><span>支付时间</span><span class="m-cell-bd tr">2018年3月27日 16:59:36</span></div>
            <div class="m-list-flex infos fs12 col3"><span>支付方式</span><span class="m-cell-bd tr">微信支付</span></div>
            <div class="m-list-flex infos fs12 col3"><span>配送方式</span><span class="m-cell-bd tr">普通快递</span></div>
            <div class="info fs14 col5 pb5">订单金额</div>
            <div class="m-list-flex infos fs12 col3"><span>商品总额</span><span class="m-cell-bd tr">￥198.00</span></div>
            <div class="m-list-flex infos fs12 col3"><span>+ 运费</span><span class="m-cell-bd tr">0.00</span></div>
            <div class="m-list-flex infos fs12 col3"><span>- 积分抵扣</span><span class="m-cell-bd tr">9.00</span></div>
            <div class="m-list-flex infos fs12 col3"><span>实付款</span><span class="m-cell-bd tr" style="color: #FF001F">￥<span class="fs18 " s>189.00</span></span></div>
        </div>
    </section>

    <!-- main end -->

</section>
<!-- wrap end -->






</body>
</html>