<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no"/>
    <meta content="yes" name="apple-mobile-web-app-capable" />
    <meta content="telephone=no" name="format-detection" />
    <meta name="renderer" content="webkit">
    <title>订单详情</title>
    <meta name="keywords" content=""/>
    <meta name="description" content=""/>
    <link rel="stylesheet" href="weui/lib/weui.min.css" />
    <link rel="stylesheet" href="weui/css/jquery-weui.min.css" />
    <link rel="stylesheet" href="css/reset.css" />
    <link rel="stylesheet" href="css/style.css" />
    <script src="weui/lib/jquery-2.1.4.js"></script>
    <script src="weui/js/jquery-weui.js"></script>

    <!--[if lt IE 9 ]>
    <script src="js/html5.js"></script>
    <![endif]-->
</head>
<body>
<section class="wrap  min100 bgf">
    <section class="main plr15">
        <div class="paid-main " >
            <div class="paid-item">
                <div class="paid-item-tit m-list-flex pt20 pb5">
                    <p class="m-cell-bd fs15">#201804031605360001 </p>
                    <img src="images/test-arrow.png" alt="" class="test-arrow" style="width: 7px;">
                </div>
                <div class="paid-status">
                    <p  class="fs12" style="color: #F33030;">退货退款成功</p>
                </div>
                <div class="paid-shop-item m-list-flex" style="margin-top: 10px;padding: 10px 12px">
                    <div class="pic-view paid-img1">
                        <img src="images/swiper-img2.png" class="imgm" alt="">
                    </div>
                    <div class="m-cell-bd pl10  as">
                        <div class="paid-shop-item-tit m-list-flex pb15">
                            <p class="single-line m-cell-bd fs13">悦然精品口服液 </p>
                        </div>
                        <div class="m-list-flex">
                            <div class="m-cell-bd paid-item-num">
                                <p class="col6 fs11">x1</p>
                            </div>
                            <div class="paid-item-price" style="align-self: flex-start">
                                <p class="fs-15">￥799</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="order-inform pt20">
                    <div class="m-list-flex pb10 col3">
                        <div class="m-cell-bd order-tit">
                            <p>退款信息</p>
                        </div>
                    </div>
                    <div class="m-list-flex order-detail-item col3">
                        <div class="m-cell-bd">
                            <p>退款金额</p>
                        </div>
                        <div>
                            <p>￥799.00</p>
                        </div>
                    </div>
                    <div class="m-list-flex order-detail-item col3">
                        <div class="m-cell-bd">
                            <p>退款件数</p>
                        </div>
                        <div>
                            <p>1件</p>
                        </div>
                    </div>
                    <div class="m-list-flex order-detail-item col3">
                        <div class="m-cell-bd">
                            <p>申请时间</p>
                        </div>
                        <div>
                            <p>2018年3月27日 16:59:36</p>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </section>
    <!-- main end -->

</section>


<script src="weui/js/city-picker.js"></script>
<script>
</script>



<!-- jquery-weui插件 -->
<script src="weui/js/jquery-weui.min.js"></script>
<!-- 通用js -->
<script src="js/functions.js"></script>

</body>
</html>